<form class="container" [formGroup]="formValue">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center;">Creat Form</h3>
        </div>
        <div class="row">
            <div class="form-group" class="col-sm-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstName"
                    placeholder="Enter First Name">
            </div>
            <div class="form-group" class="col-sm-6">
                <label for="lastname">LastName</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastName"
                    placeholder="Enter Last Name">
            </div>
            <div class="form-group" class="col-sm-6">
                <label for="email">Email Id</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                    placeholder="Enter Email Id">
            </div>
            <div class="form-group" class="col-sm-6">
                <label for="phone">Contact</label>
                <input type="number" class="form-control" id="phone" formControlName="phone"
                    placeholder="Enter Phone Number">
            </div>
            <div class="col-sm-12" style="text-align: center;">
                <button type="submit" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
                <button type="submit" (click)="updateEmployeeDetails()" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</form>

<router-outlet></router-outlet>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of employeeData">
                <td>{{row.id}}</td>
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>{{row.email}}</td>
                <td>{{row.phone}}</td>
                <td><button (click)="onEdit(row)" class="btn btn-success">Edit</button></td>
                <td><button (click)="deleteEmployeeid(row)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>